text
lang en_US.UTF-8
keyboard us
timezone Europe/Stockholm --utc

# TODO: Change to SSH keys
rootpw $2b$10$nWzjLP1rOcngUYdr/MWhXu076wtenkWqSVSb38xMpbEGv4a6VqFnq --iscrypted

url --url https://dl.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os
repo --name=AppStream --mirrorlist https://mirrors.rockylinux.org/mirrorlist?repo=AppStream-9&arch=x86_64

network --onboot yes --device link --noipv4 --bootproto static --ipv6 auto

selinux --enforcing
firewall --enabled --ssh

zerombr
clearpart --all --initlabel

part /boot --fstype="ext4" --size=1024
part /boot/efi --fstype="vfat" --size=512
part swap  --size=4096  --fstype=swap
part pv.01 --size=1 --grow
volgroup vg0 pv.01
logvol / --fstype ext4 --name=root --vgname=vg0 --size=10000
logvol /var --fstype ext4 --name=var --vgname=vg0 --size=10000
logvol /home --fstype ext4 --name=home --vgname=vg0 --size=5000

%packages
@^minimal-environment
kexec-tools
wget
tar
%end

poweroff
